
//* edit-user.component.scss */

// Add padding around the form fields
mat-form-field {
    margin-bottom: 16px;
  }
  
  // Create a flex container for the form
  form {
    display: flex;
    flex-direction: column;
  }
  
  // Style the submit button and delete button
  button[type="submit"],
  .delete-button {
    margin-top: 16px;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  