<mat-toolbar color="primary">

  <div class="search-container">
    <input type="text" placeholder="Search..." />
  </div>

  <div class="icons-container">
    <button mat-icon-button (click)="goToProfile()">
      <mat-icon class="profile-icon">account_circle</mat-icon>
    </button>
    
    <button mat-icon-button (click)="goToMovies()" class="mat-icon-button mat-toolbar">
      <mat-icon>movie</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()">
      <mat-icon class="logout-icon">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>

