<div style="display: flex; justify-content: space-between; padding: 10px;">
  <div>
    <h1>{{ user.Username ? user.Username + "'s Profile" : 'Profile' }}</h1>
  </div>
  </div>
  


<div class="profile-page-container">
  

  <div class="user-details">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="user.Username" >

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="user.Email" >
     
    <label for="password" autocomplete="new-password">Password:</label>
    <input type="password" id="password" [(ngModel)]="updatedPassword">

  </div>

  <div class="buttons-container">
    <button class="save-button" (click)="editUser()">Save Changes</button>
    <button mat-icon-button class="delete-button" (click)="deleteUser()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

