.profile-page-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;

  h2 {
    text-align: center;
  }

  .user-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    margin-top: 20px;

    label {
      font-weight: bold;
    }

    input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .save-button {
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color:  #f13434; 
      }
    }

    .delete-button {
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease-in-out;

      &:hover {
        background-color: #f13434; 
        transform: scale(1.2);
      }

      .mat-icon {
        font-size: 24px;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}
